<%- include('partials/header') %>

  <div class="container">

    <div class="row">
    	<h1>Index of <%= namespace %>/live-services</h1>
    </div>

    <div class="row">

	    <% data.forEach(d => { %>
	    	<div class="col-md-4">
		    	<div class="panel panel-success">
					  <div class="panel-heading">
					    
					    <% if (d.value._live) { %>
					    	<span class='pull-right label label-success'>LIVE</span>
					    <% } %>

					    <h3 class="panel-title"><%= d.name.split("/")[3] %></h3>
					    
					  </div>
					  <div class="panel-body">
<pre><%= JSON.stringify(d.value, null, 2) %></pre>
					  </div>
					</div>
				</div>
	    <% }) %>

    </div>

  </div>

<%- include('partials/footer') %>