<%- include('partials/header') %>

  <div class="container">

    <h1>Index of <%= namespace %></h1>

    <% data.forEach(d => { %>
    	<h3><a href='/index<%= d.name %>'><%= d.name %></a></h3>
    <% }) %>

  </div>

<%- include('partials/footer') %>